<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            {{#if kindLabel}}<div class="item-kind">{{kindLabel}}</div>{{/if}}
            <div class="grid grid-2col">
              <div class="resource">
                <label class="resource-label">Source</label><br>
                <input type="text" name="system.source" value="{{data.system.source}}" data-dtype="String" list="vaarn-gift-sources"/>
                <datalist id="vaarn-gift-sources">
                  <option value="Mystical Crystal">
                  <option value="Ritual Cannibalism">
                  <option value="Psychoactive Fungus">
                  <option value="Nanomachine Infection">
                  <option value="Irradiated at Birth">
                  <option value="Meditation">
                  <option value="Dream Quest">
                  <option value="Parasitic Spirit Entity">
                  <option value="Mental Mutation">
                  <option value="Addictive Rare Drug">
                  <option value="Brain Implants">
                  <option value="Devouring Memories">
                  <option value="Brain Surgery">
                  <option value="Secret Religion">
                  <option value="Ancient Mask">
                  <option value="Cursed Ring">
                  <option value="Born During Eclipse">
                  <option value="Found Weird Orb">
                  <option value="Beheld Azathoth, the Daemon Sultan">
                  <option value="Studied in Lost Archives">
                </datalist>
              </div>
              <div class="resource">
                <label class="resource-label">Slots</label>
                  <input type="text" name="system.slots" value="{{data.system.slots}}" data-dtype="Number"/>
                  {{#if statNotes.slots}}<p class="resource-label-small stat-in-effect">{{statNotes.slots}}</p>{{/if}}
              </div>
              <div class="resource">
                <label class="resource-label">{{valueLabel}}</label>
                  <input type="text" name="system.tradeValue" value="{{data.system.tradeValue}}" data-dtype="Number"/>
                  {{#if statNotes.tradeValue}}<p class="resource-label-small stat-in-effect">{{statNotes.tradeValue}}</p>{{/if}}
                  {{#each buyerValues}}
                    <div class="conditional-trade-value">{{this.value}} to {{this.buyer}}</div>
                  {{/each}}
              </div>
            </div>
        </div>
        {{> "systems/vaarn/templates/item/parts/usage-die.html"}}
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="effects">Effects</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.system.description target="system.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Effects Tab - GM Effect Builder (Effect Engine, ruled 2026-10-05) --}}
        {{> "systems/vaarn/templates/item/parts/effects-tab.html"}}
    </section>
</form>
